extends ../layout

block contenido

    h1 Home TodoStock S.A.
    
    div.contenedor
        a(href="/productos")
            h2 Stock
        
        a(href="/clientes")
            h2 Clientes
       
        a(href="/proveedores")
            h2 Proveedores
        
        a(href="/finanzas")
            h2 Finanzas